table {
    margin-top: 15px;
    font-size: 0.9em;
}

.table td {
    vertical-align: middle;
    padding: 5px;
}

.table td > * {
    vertical-align: middle;
}


.col-5 {
    width: 5%;
}

.col-10 {
    width: 10%;
}

.col-30 {
    width: 30%;
}

.col-20 {
    width: 20%;
}

.col-40 {
    width: 40%;
}
.col-25 {
    width: 25%;
}